:root {
  --color-primary-1: #007bff;
  --color-primary-2: #036af5;
  --color-primary-3: #07a3fb;
  --color-secondary-1: #ffaf20;
  --color-secondary-2: #ffd843;
  --color-red-primary: #eb3b5a;
  --color-red-secondary: #eb3b5a;
  --color-gray-2: #dfdfdf;
  --color-light-1: #ebebeb;
  --color-light-2: #f7f7f7;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-1: #f0f0f1;
  --color-dark-2: #acacb1;
  --border-color-primary: var(--color-primary);
  --border-color-secondary: var(--color-secondary-1);
  --border-color-tertiary: #707070;
  --txt-light-1: rgba(30, 30, 30, 0.49);
  --txt-light-2: rgba(29, 29, 31, 0.69);
  --txt-color-dark-1: #212529;
  --txt-color-dark-2: #666464;
  --border-radius-100: 10px;
  --border-radius-160: 16px;
  --border-radius-270: 27px;
  --border-radius-340: 34px;
  --border-radius-400: 40px; }

.block {
  display: block; }

.u-text-center {
  text-align: center; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 6rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

.lined {
  position: relative; }
  .lined::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: var(--color-white); }

.d-flex {
  display: flex; }

@font-face {
  font-family: "Dana";
  src: url("fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Dana Medium";
  src: url("fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Dana DemiBold";
  src: url("fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Yekan";
  src: local("B Yekan"), url("fonts/B_Yekan/B_Yekan.ttf") format("ttf");
  font-display: swap; }

.heading-primary {
  font-family: "Dana Demibold";
  font-weight: 900;
  letter-spacing: 0;
  font-size: 4rem;
  line-height: 7rem; }
  @media (max-width: 62.5em) {
    .heading-primary {
      text-align: center; } }

.heading-secondary {
  font-family: "Dana Demibold";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 7rem; }

.paragraph {
  font-family: "Dana Medium";
  font-size: 2rem;
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: 0.1rem; }
  @media (max-width: 62.5em) {
    .paragraph {
      text-align: center; } }

.txt {
  display: inline-block; }

.txt-big {
  font-size: 2.4rem;
  font-weight: 900; }

.txt-medium {
  font-size: 1.8rem;
  font-weight: 900; }

.txt-small {
  font-size: 1.4rem;
  font-weight: 700; }

.txt-white {
  color: var(--color-white); }

.txt-black {
  color: var(--color-black); }

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 62.5em) {
    html {
      font-size: 55%; } }
  @media (max-width: 55em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 35%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 120%; } }

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Dana";
  height: 1000rem; }

main {
  padding: 0 10rem; }
  @media (max-width: 55em) {
    main {
      padding: 0; } }

.landing-slider {
  margin: 0 auto;
  aspect-ratio: 10 / 1;
  width: 80%;
  height: 20rem; }

svg {
  width: 2.2rem;
  height: 2.2rem;
  font-weight: 700;
  fill: var(--color-white); }

input {
  border: none;
  outline: none; }

ul {
  list-style: none; }

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: var(--color-dark-2); }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.header {
  width: 100%;
  height: 7.5rem;
  background-color: #fafafa;
  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05); }
  @media (max-width: 55em) {
    .header {
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 0 2rem;
      height: 11rem; } }
  .header__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem; }
    @media (max-width: 55em) {
      .header__navigation {
        flex-direction: row-reverse; } }
  .header__search-bar {
    width: 40rem;
    border-radius: var(--border-radius-340);
    background-color: var(--color-dark-1);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    @media (max-width: 75em) {
      .header__search-bar {
        width: 34rem; } }
    @media (max-width: 55em) {
      .header__search-bar {
        display: none; } }
    .header__search-bar:hover {
      background-color: var(--color-white); }
    .header__search-bar--input {
      width: 100%;
      padding: 0rem 2rem;
      padding-right: 0;
      font-family: inherit;
      font-size: 1.5rem;
      background-color: inherit; }
      .header__search-bar--input::placeholder {
        color: var(--color-dark-2); }
    .header__search-bar svg {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header__search-bar .target-svg svg {
      padding: 0.5rem;
      margin-left: 0.5rem;
      fill: var(--color-dark-2); }
    .header__search-bar .search-svg {
      background-color: var(--color-primary-1);
      border-radius: 50%; }
      .header__search-bar .search-svg svg {
        padding: 0 1rem;
        fill: var(--color-white); }
  .header__courses {
    position: relative; }
  @media (max-width: 55em) {
    .header__courses--has-sub {
      display: none; } }
  .header__courses--has-sub:hover + .header__menu {
    display: flex; }
  .header__menu {
    border-radius: var(--border-radius-160);
    position: absolute;
    top: 120%;
    width: 44rem;
    background-color: var(--color-white);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; }
    .header__menu:hover {
      display: flex; }
  .header .sub-menu {
    font-size: 1.7rem;
    width: 100%; }
    .header .sub-menu__list {
      display: flex;
      flex-direction: column; }
    .header .sub-menu__item {
      padding: 1rem 2rem;
      width: 100%; }
      .header .sub-menu__item a {
        font-weight: 500;
        color: var(--txt-color-dark-1);
        transition: all 0.2s; }
        .header .sub-menu__item a:hover {
          color: var(--color-primary-1); }
      .header .sub-menu__item:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .header .sub-menu__item:last-child button {
        width: 100%; }
    .header .sub-menu__title {
      text-align: center;
      font-weight: 800;
      color: var(--color-primary-1); }
  @media (max-width: 55em) {
    .header__panel {
      display: none; } }
  .header__mobile {
    display: none;
    align-items: center;
    gap: 0 2rem; }
    @media (max-width: 55em) {
      .header__mobile {
        display: flex; } }
    .header__mobile svg {
      display: inline-block;
      height: 3.5rem;
      width: 3.5rem;
      fill: var(--color-black); }

.about-section {
  width: 100%; }

.courses-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.slider {
  width: 100%; }
  .slider-top {
    height: 10rem; }
  @media (max-width: 55em) {
    .slider {
      height: 15rem; } }
  .slider__container {
    width: 100%;
    height: 100%;
    position: relative; }
    .slider__container--content {
      position: absolute;
      width: 100%;
      height: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: space-around; }
      @media (max-width: 55em) {
        .slider__container--content {
          flex-direction: column;
          gap: 1rem; } }
  .slider-bg {
    width: 100%;
    height: 100%;
    background-size: cover; }
  .slider-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--color-primary-2), var(--color-primary-1)); }
  .slider__timer {
    width: 200px;
    height: 30px;
    border-radius: var(--border-radius-270);
    background-color: var(--color-secondary-1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .slider__timer svg {
      position: absolute;
      right: 0.5rem; }
    .slider__timer--time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row-reverse;
      position: absolute;
      left: 0;
      height: 100%;
      font-size: 22px;
      color: var(--color-white);
      font-weight: 600; }
      .slider__timer--time span {
        margin-left: 0.6rem; }
  .slider__pricing {
    width: 27.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .slider__pricing svg {
      fill: var(--color-secondary-1); }
  .slider__price-badge {
    font-size: 1rem; }

.swiper-button-next {
  width: 6rem;
  height: 6rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  left: 5rem !important;
  color: var(--color-white); }
  @media (max-width: 75em) {
    .swiper-button-next {
      display: none; } }

.swiper-button-prev {
  width: 6rem;
  height: 6rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  right: 5rem !important;
  color: var(--color-white); }
  @media (max-width: 75em) {
    .swiper-button-prev {
      display: none; } }

.timer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1rem; }

.btn {
  font-family: inherit;
  padding: 0.75rem 2.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-400);
  transition: all 0.4; }
  .btn-primary {
    background-color: var(--color-primary-1);
    color: var(--color-white); }
    .btn-primary-bg-white {
      background-color: var(--color-white);
      color: var(--color-primary-1);
      border: 3px solid var(--color-primary-1); }
      .btn-primary-bg-white:hover {
        background-color: var(--color-primary-1);
        color: var(--color-white); }
  .btn-orange {
    background-image: linear-gradient(180deg, var(--color-secondary-2), var(--color-secondary-1));
    border: 3px solid var(--color-secondary-1); }
  .btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5rem; }
  @media (max-width: 62.5em) {
    .about {
      flex-direction: column; } }
  @media (max-width: 62.5em) {
    .about__logo {
      display: none; } }
  .about__logo--mobile {
    width: 100%;
    display: none; }
    .about__logo--mobile img {
      width: 100%;
      background-size: cover; }
    @media (max-width: 62.5em) {
      .about__logo--mobile {
        display: block; } }
  .about__description {
    width: 50%; }
    @media (max-width: 62.5em) {
      .about__description {
        width: 95%; } }

.courses {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0 3rem; }
  @media (max-width: 62.5em) {
    .courses {
      width: 100%;
      gap: 4rem 0; } }
  .courses__sec {
    cursor: pointer;
    transition: all 0.3s; }
    @media (max-width: 55em) {
      .courses__sec {
        width: 80%; } }
    .courses__sec:hover {
      transform: scale(1.1); }
    .courses__sec img {
      width: 100%;
      background-size: cover; }
