html {
    --color-primary-1: #007bff;
    --color-primary-2: #036af5;
    --color-primary-2: #07a3fb;

    --color-secondary-1: #ffaf20;
    --color-secondary-2: #ffd843;

    --color-red-primary: #eb3b5a;
    --color-red-secondary: #eb3b5a;

    --color-gray-2: #dfdfdf;

    --color-light-1: #ebebeb;
    --color-light-2: #f7f7f7;

    --color-white: #fff;

    --border-color-primary: var(--color-primary);
    --border-color-secondary: var(--color-secondary-1);
    --border-color-tertiary: #707070;

    --txt-light-1: rgba(30, 30, 30, 0.49);
    --txt-light-2: rgba(29, 29, 31, 0.69);
    --txt-color-dark-1: #212529;
    --txt-color-dark-2: #666464;

    --border-radius-100: 10px;
    --border-radius-160: 16px;
    --border-radius-270: 27px;
    --border-radius-340: 34px;
}
