.courses {
  width: 80%;
  @include d-flex(center, space-around);
  flex-wrap: wrap;
  gap: 0 3rem;

  @include responsive(xl) {
    width: 100%;

    gap: 4rem 0;
  }

  &__sec {
    overflow: hidden;
    cursor: pointer;
    border-radius: var(--border-radius-160);
    transition: all 0.3s;

    @include responsive(large) {
      width: 80%;
    }

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      background-size: cover;
    }
  }
}
