.professor {
  @include d-flex(center, center);
  background: #eee;
  border-radius: var(--border-radius-160);
  overflow: hidden;
  padding-top: 4rem;

  cursor: pointer;
  transition: all 0.2s;

  position: relative;
  z-index: 10;
  &:hover {
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.4);
  }

  &__image {
    bottom: 0;
    background-size: cover;
    width: 100%;
  }

  &__info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 35%;
    @include d-flex(center, space-around);

    @include responsive(small) {
      justify-content: center;
    }

    flex-direction: column;
    color: var(--color-white);

    padding: 1rem;

    z-index: 20;
    background-image: linear-gradient(rgba(28, 28, 33, 0), #1c1c21);
  }

  &__name {
    font-weight: 800;
    font-size: 20px;

    @include responsive(small) {
      font-size: 25px;
    }
  }
  &__roll {
    font-weight: 600;
    color: lightgray;
    font-size: 15px;
    @include responsive(small) {
      font-size: 20px;
    }
  }
}
