.slider {
  width: 100%;
  &-top {
    height: 10rem;
  }

  @include responsive(large) {
    height: 15rem;
  }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;

    &--content {
      position: absolute;
      width: 100%;
      height: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include d-flex(center, space-around);

      @include responsive(large) {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  &-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--color-primary-2), var(--color-primary-1));
  }

  &__timer {
    width: 200px;
    height: 30px;
    border-radius: var(--border-radius-270);
    background-color: var(--color-secondary-1);
    position: relative;
    @include d-flex(center);

    svg {
      position: absolute;
      right: 0.5rem;
    }

    &--time {
      @include d-flex(center);
      flex-direction: row-reverse;
      position: absolute;
      left: 0;
      height: 100%;
      font-size: 22px;
      color: var(--color-white);
      font-weight: 600;

      span {
        margin-left: 0.6rem;
      }
    }
  }

  &__pricing {
    width: 27.5rem;
    @include d-flex(center, space-between);

    svg {
      fill: var(--color-secondary-1);
    }
  }

  &__price-badge {
    font-size: 1rem;
  }
}

.swiper-button-next--top {
  width: 6rem;
  height: 6rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(gray, 0.5);

  left: 5rem !important;
  color: var(--color-white);

  @include responsive(xxl) {
    display: none;
  }
}

.swiper-button-prev--top {
  width: 6rem;
  height: 6rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(gray, 0.5);

  right: 5rem !important;
  color: var(--color-white);

  @include responsive(xxl) {
    display: none;
  }
}

.timer-container {
  @include d-flex(center);
  gap: 0 1rem;
}
