.top-ratings {
  width: 90%;
  margin: 0 auto;

  &__wrapper > * {
    height: 325px;
    overflow: hidden;
    border-radius: var(--border-radius-160);
  }

  // students

  .student {
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    // top images

    &__image {
      width: 100%;

      position: relative;

      &--bg img {
        width: 100%;
        background-size: cover;
        background-position: center;
      }

      &--main {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 9rem;
        height: 9rem;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        outline: 5px solid var(--color-white);
        background-color: var(--color-white);
        overflow: hidden;

        img {
          width: 100%;
          background-size: cover;
        }
      }
    }

    // information

    &__information {
      margin-top: 4.5rem;
      height: 100%;
      padding: 2rem;

      @include d-flex(center, center);
      flex-direction: column;
      gap: 0.5rem 0;

      button {
        @include d-flex(center, center);
        gap: 0 1rem;
      }
    }

    &__name {
      font-size: 2.3rem;
      font-family: "Dana Demibold";
      color: var(--txt-dark-1);
    }

    &__ranking {
      font-size: 2.1rem;
      color: var(--color-black);
    }

    &__interview {
      font-size: 1.8rem;
      color: gray;
    }
  }

  // sign up

  .sign-up {
    background-image: linear-gradient(var(--color-secondary-2), var(--color-secondary-1));

    @include d-flex(center, center);
    gap: 1rem 0;

    flex-direction: column;

    &__title,
    &__buttons {
      width: 100%;
      @include d-flex(center, center);
      flex-direction: column;
    }

    &__title {
      gap: 2rem 0;

      h3 {
        font-size: 2.5rem;
      }

      svg {
        width: 8rem;
        height: 6.4rem;
      }
    }

    &__buttons {
      gap: 1rem 0;
      & > * {
        width: 85%;
      }
    }
  }
}
