*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  @include responsive(xl) {
    font-size: 55%;
  }
  @include responsive(large) {
    font-size: 50%;
  }
  @include responsive(small) {
    font-size: 35%;
  }
  @include responsive(big) {
    font-size: 120%;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Dana";
  height: 1000rem;
}

main {
  padding: 0 10rem;

  @include responsive(large) {
    padding: 0;
  }
}

.landing-slider {
  margin: 0 auto;
  aspect-ratio: 10 / 1;
  width: 80%;
  height: 20rem;
}

// simple reset

svg {
  width: 2.2rem;
  height: 2.2rem;
  font-weight: 700;
  fill: var(--color-white);
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: var(--color-dark-2);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
