@font-face {
  font-family: "Dana";
  src: local("iranian sans"), url("fonts/iransans/Dana.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: local("B Yekan"), url("fonts/B_Yekan/B_Yekan.ttf") format("ttf");
  font-display: swap;
}
