@font-face {
    font-family: "Yekan";
    src: local("B Yekan"), url("fonts/B_Yekan/B_Yeakn.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "iranSans";
    src: local("Iran Sans"), url("fonts/iransans/iransans.ttf") format("ttf");
    font-display: swap;
}
