@font-face {
  font-family: "iranSans";
  src: local("a Iranian Sans"), url("fonts/iransans//IraniSans.ttf"), format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: local("B Yekan"), url("fonts/B_Yekan/B_Yeakn.ttf") format("ttf");
  font-display: swap;
}
