.txt {
  display: inline-block;
}

.txt-big {
  font-size: 2.4rem;
  font-weight: 900;
}

.txt-medium {
  font-size: 1.8rem;
  font-weight: 900;
}

.txt-small {
  font-size: 1.4rem;
  font-weight: 700;
}

.txt-white {
  color: var(--color-white);
}
.txt-black {
  color: var(--color-black);
}
