.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Dana Demibold";
  font-weight: 900;
  line-height: 7rem;
}

.heading-primary {
  letter-spacing: 0;
  font-size: 4rem;
  @include responsive(xl) {
    text-align: center;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  background-color: transparent;
}

.heading-tertiary {
  font-size: 3rem;
}

.paragraph {
  font-family: "Dana Medium";
  font-size: 2rem;
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: 0.1rem;

  @include responsive(xl) {
    text-align: center;
  }
}

.txt {
  display: inline-block;
}

.txt-big {
  font-size: 2.4rem;
  font-weight: 900;
}

.txt-medium {
  font-size: 1.8rem;
  font-weight: 900;
}

.txt-small {
  font-size: 1.4rem;
  font-weight: 700;
}

.txt-white {
  color: var(--color-white);
}
.txt-black {
  color: var(--color-black);
}

.txt-secondary-2 {
  color: var(--color-secondary-2);
}
